extends ./layoutC.jade
block contenido
	section
		div(class="mediano text-center")
			h1(class="grande azul roboto") Contacto
				p(style="margin-top:2em;") Ciudad Comercial La Cascada.
				p(style="margin-top:1em;") Escríbenos a #[a(href="mailto:yosmangel_yk@hotmail.com" class="azul") yosmangel_yk@hotmail.com]			
				iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15699.3746092825!2d-67.01169848442075!3d10.354383604283312!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb0ceac94bbbc9bd4!2sCiudad+Comercial+La+Cascada!5e0!3m2!1ses!2sve!4v1494272364806" width="600" height="450" frameborder="0" style="border:0" allowfullscreen)
