extends ./layout.jade
block contenido
	div(class="col-md-4 center-block quitar-float text-center espacio-arriba")
		img(id="imgPrincipal" src="imagenes/icecream.png" class="animated bounce duracionAnimation")
		h1(class="roboto letraGrande verde") Food Facilito 
		h2 Ven, come y diviértete
		nav
			a(href="/menu" class="espacioLinkDerecha") Menú
			a(href="/contacto" class="espacioLinkDerecha") Contacto
			

