doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		title El mejor lugar para comer del mundo
		meta(name="viewport" content="width=device-width, initialscale=1.0")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Slabo+27px")
		link(rel="stylesheet", href="/css/main.css")
		link(rel="stylesheet", href="/css/bounce.css")
	body		
		nav(class="segris paddinglargo text-center")
			ul(class="nolista")
				li(class="col-md-3 inlineblock")
					a(href="./" class="azul") Food facilito
				li(class="col-md-3 inlineblock")
					a(href="/menu" class="azul") Menú
				li(class="col-md-3 inlineblock")
					a(href="/contacto" class="azul") Contacto
		block contenido
				